{% block content %}
  <div id="face-grid">
    <div class="face"><img src="{{ "negative7_thumb.jpg" | asset_url }}"></div>
    <div class="face"><img src="{{ "negative25_thumb.jpg" | asset_url }}"></div>
    <div class="face"><img src="{{ "negative30_thumb.jpg" | asset_url }}"></div>
    <div class="face"><img src="{{ "negative11_thumb.jpg" | asset_url }}"></div>
    <div class="face"><img src="{{ "negative13_thumb.jpg" | asset_url }}"></div>
    <div class="face"><img src="{{ "ambi9_thumb.jpg" | asset_url }}"></div>
    <div class="face"><img src="{{ "negative65_thumb.jpg" | asset_url }}"></div>
    <div class="face"><img src="{{ "negative43_thumb.jpg" | asset_url }}"></div>
    <div class="face"><img src="{{ "negative27_thumb.jpg" | asset_url }}"></div>
    <div class="face"><img src="{{ "positive9_thumb.jpg" | asset_url }}"></div>
    <div class="face"><img src="{{ "negative19_thumb.jpg" | asset_url }}"></div>
    <div class="face"><img src="{{ "negative8_thumb.jpg" | asset_url }}"></div>
    <div class="face"><img src="{{ "ambi2_thumb.jpg" | asset_url }}"></div>
    <div class="face"><img src="{{ "negative69_thumb.jpg" | asset_url }}"></div>
    <div class="face"><img src="{{ "negative51_thumb.jpg" | asset_url }}"></div>
    <div class="face"><img src="{{ "negative48_thumb.jpg" | asset_url }}"></div>
  </div>
{% endblock %}